<h2> <u> Quick Introduction:</u> 

    <p>I am a software engineer/developer interested in </p>

    <p>I graduated from the University of Bristol in Electrical and Electronics 
    Engineering in July 2018. </p>


<p>In September 2018, I  joined the Santander Technology graduate scheme and
began working on Front-end Angular development, along with unit and E2E testing. </p>

<p>This home project is to showcase and consolidate the knowledge and skills that I gained
from my first rotation, during the scheme. </p>

<p>Below I have included </p>
</h2>