h1 {
    font-size: 30px;
    font-family: monospace;
    color: rgb(32, 122, 195);
    margin: 50px;
    text-align:center;
  }

  h2 {
    font-size: 20px;
    font-family: monospace;
    color: rgb(32, 122, 195);
    margin-bottom: 0px;
    margin-left: 100px;
    margin-top: 230px;
    text-align:left;
    width: 1250px;
  }

  @media screen and (max-width: 601px) {
    h1 {
      margin-top: 200px;
    }
  }


  /* div {
    border: 3px solid #4CAF50;
    padding: 5px;
  }
   */
  .img {
    float: right;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 200px;
    border-block-end-color: blue;
  }
  
  .clearfix {
    overflow: auto;
  }
  