<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="container">
        <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="about-me">About Me</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="resume">My Resume</a></li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>
<!-- <section id="home">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
                <app-home></app-home>
            </div>
          </div>
        </div>
</section>
<section id="about-me">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
                <app-about-me></app-about-me>
            </div>
          </div>
        </div>
</section>
<section id="about-me">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
                <app-resume></app-resume>
            </div>
          </div>
        </div>
</section> -->
  
