

ul .active, 
.container{
    margin: 0;
    align-self: left;
}

body {
  position: relative;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

section {
  height: cal(100vh - 14em);
}
.navbar {
    float: left;
    position: fixed;
    top: 0;
    width: 100%;
    margin-top: 5px;
    margin: 0;
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 14px;
    background-color:#369!important;
    border-radius: 0%;
  }

  .navbar a {
    display: inline;
    text-align: center;
    color: white;
    padding: 10px 10px;
    padding-bottom: 14px;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 20px;
    text-decoration: none;
  }
  
  .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
    font-family: monospace;
}
 .navbar a:hover {
    background-color: rgb(32, 122, 195);
    color: white;
    text-decoration: none;
  }
  .nav-link.active, .navbar-light .navbar-nav .nav-link:focus,  {
    color: white;
    scroll-behavior: smooth;
  }

  #home {height:-webkit-fill-available;color: #fff; background-color: rgb(238, 238, 238);}
  #about-me {height:-webkit-fill-available;color: #fff; background-color: white;}
  #resume {height:-webkit-fill-available;background-color: rgb(238, 238, 238);}

/* @media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    padding-left: 300px;
  }
} */