
ul .active, 
.container{
    margin: 0;
    padding: 0;
}

.navbar {
    float: left;
    position: fixed;
    top: 0;
    /* width: 100%; */
    margin-top: 5px;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:blanchedalmond;  
  }
  
  .navbar a {
    display: inline;
    text-align: center;
    color: #369;
    padding: 10px 10px;
    font-size: 17px;
    text-decoration: none;
  }
  
 .navbar a:hover {
    background-color: rgb(32, 122, 195);
    color: white;
    text-decoration: none;
  }