<body data-spy="scroll" data-target=".navbar" data-offset="50">

<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <a class="navbar-brand" href="#">Srikka Subramaniam</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarResponsive"
      aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="container">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <!-- <li class="nav-item">
                <a class="nav-link active" (click)="goToTop()" >Home</a>
              </li> -->
          <li class="nav-item">
        <a id="aboutMeButton" class="nav-link active" (click)="goToAbout()" routerlink="/about-me"> About me</a>
          </li>
          <li class="nav-item">
            <a id="resumeButton" class="nav-link active"  (click)="goToResume()">Resume</a>
          </li>
        </ul>
      </div>
      <div class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link active" href="/assets/doc/Srikka-Subramaniam-CV.pdf" download="SrikkaCV" target="_blank">Download my CV</a>
            </li>
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>

  <section id=home class="container-fluid">
      <app-home></app-home>
  </section>
  <section id=about-me class="container-fluid">
      <app-about-me></app-about-me>
  </section>

    <section id=resume class="container-fluid" >
        <app-resume></app-resume>
      </section>
</body>