<nav class="navbar">
    <div class="container">
        <ul routerLinkActive="active">
            <a routerLink="home">Home</a>
            <a routerLink="about-me">About Me</a>
            <a routerLink="resume" (click)="goToTop()">My Resume</a>
            <a routerLink="resume" (click)="goToWork()">Work experience</a>
            <a routerLink="resume" (click)="goToEducation()">Education</a>
        </ul>
    </div>
</nav>

<!-- <div class="navbar">
  <a href="#home">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
</div> -->

<!-- <nav class="nav-bar">
    <ul>
    <li><a href="#home">Home</a></li>
    <li><a href="#news">News</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="#about">About</a></li>
    </ul>
</nav> -->



<router-outlet></router-outlet>
<!-- <section id="home">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
                <app-home></app-home>
            </div>
          </div>
        </div>
</section>
<section id="about-me">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
                <app-about-me></app-about-me>
            </div>
          </div>
        </div>
</section>
<section id="about-me">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
                <app-resume></app-resume>
            </div>
          </div>
        </div>
</section> -->
  
