/* Application-wide Styles */
h1 {
  color: #369;
  font-family: monospace;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: monospace;
  font-weight: lighter;
}
body {
  padding: 3em;
}
body, input[type="text"], button {
  color: #888;
  font-family: Cambria, Georgia;
}
/* everywhere else */
* {
  font-family: monospace;
  color: #369;

}

html {
  scroll-behavior: smooth;
}

window.scrollTo{
  behavior: 'smooth'
};