.fixed-bottom {
    bottom: -20px;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
    /* font-family: monospace; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
 .navbar a:hover {
    background-color: rgb(32, 122, 195);
    color: white;
    text-decoration: none;
  }
  .nav-link.active, .navbar-light .navbar-nav .nav-link:focus,  {
    color: white;
    scroll-behavior: smooth;
  }

  .navbar {
    float: left;
    position: fixed;
    background-color:#369!important;
    border-radius: 0%;
  }