<body data-spy="scroll" data-target=".navbar" data-offset="50">

    <nav class="navbar navbar-expand-lg fixed-bottom navbar-light bg-light">
        <a> Contact me:</a>
      <div class="media-icons">
        <a href="https://www.linkedin.com/in/srikkasubramaniam"  target="_blank" class="fa fa-linkedin"></a>
        <a href="#" class="fa fa-github"></a>
        <a href="mailto:srikka.subramaniam@gmail.com" class="fa fa-google"></a>
        
      </div>
    </nav>
    
      <router-outlet></router-outlet>
    </body>