<body>
<h1> My Resume</h1>
<h2 id=work-experience> Work Experience </h2>
<div class="timeline">
    <div class="circle">
      <div class="textBoxLeft">
        <div class="date">Sept 2018 - Now</div>
      </div>
      <div class="textBoxRight">
        <p> <strong>Pneumatic Systems Research Intern - Bristol Interaction Group </strong> </p>
            <ul>
            <li>Worked with 3D printing to construct soft robots using silicon (Ecoflex) moulds.</li>
            <li>Designed, fabricated and experimented with McKibben actuators to correct back posture.</li>
            </ul>
      </div>
    </div>
</div>

<div class="timeline">
        <div class="circle">
          <div class="textBoxLeft">
            <div class="date">June - Aug 2017</div>
          </div>
          <div class="textBoxRight">
            <p> <strong>Pneumatic Systems Research Intern - Bristol Interaction Group </strong> </p>
            <ul>
            <li>Worked with 3D printing to construct soft robots using silicon (Ecoflex) moulds.</li>
            <li>Designed, fabricated and experimented with McKibben actuators to correct back posture.</li>
            </ul>
          </div>
        </div>
</div>

<div class="timeline">
        <div class="circle">
          <div class="textBoxLeft">
            <div class="date">Feb 2017 - May 2018</div>
          </div>
          <div class="textBoxRight">
            <p> <strong>Campaigns Ambassador - Bristol SU </strong> </p>
            <ul>
            <li>Enthusiastically engaged in promoting Student Union campaigns on campus.</li>
            <li>Represented the Education Network stalls at fresher’s fair.  
                </li>
            </ul>
          </div>
        </div>
</div>

<div class="timeline">
        <div class="circle">
          <div class="textBoxLeft">
            <div class="date">Nov 2017 - May 2018</div>
          </div>
          <div class="textBoxRight">
            <p> <strong>UCAS Days Student helper - UoB Engineering department </strong> </p>
            <ul>
            <li>Efficiently communicated with students in a helpful and friendly manner.</li>
            <li>Responsible for tours and visits of the engineering buildings to prospective students.</li>
            </ul>
          </div>
        </div>
</div>
</body>