h1 {
    font-size: 30px;
    color: rgb(32, 122, 195);
    margin-bottom: 0px;
    margin-top: 100px;
    text-align:center;
  }

  hr{
    border-top: 1px solid rgb(32, 122, 195);
  }

  body{
    display: inline-block
  }

  .navbar-sub a {
    font-family: monospace;
    font-size: 15px;
    float: left;
}
